<section class="<%= post.layout %> post-item" itemscope itemprop="blogPost">
    <% if (post.link) { %>
    <a href="<%- post.link %>" target="_blank">
        <% } else{ %>
        <a href="<%- url_for(post.path) %>" title="<%= post.title %>" itemprop="url">
            <% } %>
            <h1 itemprop="name"><%= post.title %></h1>
            <% if (index){ %>
            <% if(post.description){ %>
            <p itemprop="description"><%- post.description %></p>
            <% } else if(post.excerpt){ %>
            <p itemprop="description"><%= strip_html(post.excerpt).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
            <% } else { %>
            <p itemprop="description"><%= strip_html(post.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 140) %></p>
            <% } %>
            <% } %>
            <time datetime="<%= date_xml(post.date) %>"
                  itemprop="datePublished"><%= post.date.format(config.date_format) %></time>
        </a>
</section>